name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: INSTALL DEPENDS
      run: cd depends && make -j4 && cd ..
    - name: FIX PERMISSIONS
      run: chmod +x src/leveldb/build_detect_platform
    - name: configure
      run: ./autogen.sh && ./configure --prefix=/home/runner/work/NoteBlockchain/NoteBlockchain/depends/x86_64-pc-linux-gnu --disable-bench
    - name: make
      run: make -j4
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
