name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: INSTALL BERKELEY
      run: wget http://download.oracle.com/berkeley-db/db-4.8.30.NC.tar.gz && tar -xzvf db-4.8.30.NC.tar.gz && sed -i 's/__atomic_compare_exchange/__atomic_compare_exchange_db/g' db-4.8.30.NC/dbinc/atomic.h && cd db-4.8.30.NC/build_unix && ../dist/configure --enable-cxx --prefix=/usr && make -j5 &&  make install && export BDB_INCLUDE_PATH="/usr/local/BerkeleyDB.4.8/include" && export BDB_LIB_PATH="/usr/local/BerkeleyDB.4.8/lib"
    - name: configure
      run: ./autogen.sh && ./configure
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
